* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(233, 236, 236);
    height: 40px;
    text-align: center;
}

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(251, 253, 253);
}

.sobre-imc {
    text-align: center;
    background-image: url(../img/fita_metrica_2.png);
    background-repeat: no-repeat;
    background-position: 160px;
    justify-content: flex-end;
    height: 250px;
    font-weight: bold;
}

.texto-2 {
    padding-top: 90px;
}

.dados-resultado-tabela {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dados-resultado {
    display: flex;
    flex-direction: row;
}

#nome {
    border-radius: 10px;
    height: 30px;
}

#peso {
    border-radius: 10px;
    height: 30px;
}

#altura {
    border-radius: 10px;
    height: 30px;
}

#imc {
    border-radius: 10px;
    height: 30px;
    text-align: center;
}

#situacao {
    border-radius: 10px;
    height: 30px;
    text-align: center
}

.botao-calcular {
    background-color: rgb(209, 221, 34);
    width: 173px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.legend,
.table,
tr,
.field,
fieldset {
    border: 1px solid black;
    text-align: center;
}

.resultado-situacao {
    padding-top: 20px;
    text-align: center;
}

.tabela-imc {
    padding-top: 20px;
}

@media only screen and (min-width: 901px) {
    .dados {
        padding-right: 80px;
        padding-left: 10px;
        padding-top: 20px;
    }
    .tabela-imc {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 430px) {
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background-size: 100%;
        background-position: bottom;
    }
    .texto-2 {
        display: none;
    }
    .imc-header {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .dados {
        text-align: center;
    }
    .dados-resultado-tabela {
        display: flex;
        flex-direction: column;
    }
    .tabela-imc {
        flex-direction: column;
        align-items: center;
        border: 0px;
    }
    .resultado-situacao {
        text-align: center;
    }
    .dados-resultado {
        flex-direction: column;
        margin-right: 20px;
        position: unset;
    }
}
